body,html {
	margin : 0;
	padding : 0;
    width : 100%;
    height: 100%;
    font-family: Arial,Helvetica,Sans-Serif;
    line-height: 1.15em;
}
a {
	text-decoration: none; 
	color: black;
}
#page_wrapper {
  margin-left: auto; 
  margin-right: auto;
  width: 100%;
  text-align: left;
}

#header_menu {
	background :  top left url('../images/shadow_blue.png') repeat-x ;
	height: 27px; 
	margin: 0;
	padding-left: 250px;
	
}
#header_menu .sub_menu {
	 background :  top left url('../images/button.png') no-repeat ;
	 float : left;
	 height: 90px;
	 width : 90px;
	 margin: -30px 10px 0px 0px;
	 padding: 35px 0 0 2px;
	 
}

#header_menu .sub_menu a {
	padding-left:  1em;
	padding-top : .2em;
	text-decoration: none; 
	color: black;
	font-family : arial;
	text-align: center;	
	font-size: 1.3em;
}
#header_menu .sub_menu:HOVER {
	background :  top left url('../images/button_push.png') no-repeat ;
}

#header 	 { 
	background:  url('../images/backHeader.png')left  top repeat-y ;		
	height: 100px;
	padding-bottom: 5px;
	width: 100%;
}

#header_title {
	background:  url('../images/headerTitle.png') bottom left  no-repeat; 
	float : left; 
	height:140px;
	width : 292px;
	margin-left: 50px;
	margin-bottom: -38px;
}
.loginForm {
	margin-top : 35px;
	margin-left : 70px;
	float: left;
}

.loginForm #login {
	border-radius: 5px 0px 0px 5px;
	display:  : block;
	border: 2px solid #CCCCCC;
	border-right: 0 none;
	float : left;
}

.loginForm #password {
	border: 2px solid #CCCCCC;
	display:  : block;
	float : left;
}

.loginForm .login_field {
	height: 19px;
}
.loginForm #login_submit {
	border-radius: 0px 5px 5px 0px;
	width: 22px;
	height : 22px;
	display:  : block;
	float : left;

	border: 2px bold;
	background-color: #70999E;
	padding-left: 4px;
	padding-top: 0.2em;
}
.loginForm #login_submit a {
	color : white;
}

#loginWelcome.loginForm {
	display: none;
}

.loginForm p {
	margin  : 0px;
	padding : 0px;
	font-size: 1.1em;
}

#header_ligne {
	background : url('../images/yellow_ban.png')  top left repeat-x ;
	height: 5px;
	width: 100%;
}

#footer_ligne2 {
	padding-top : 5px;
    background :url('../images/texture/mirrored_squares.png');
	height: 100%;
	width: 100%;
	text-align: center;
	
}

#footer_ligne1 {
	margin-top : 30px;
	background :url('../images/beige_ban.png') bottom left repeat-x ;
	height: 10px;
	width: 100%;
}


.clear {
	clear: both;
}