
#title_container {
	margin-top : 20px;
 	height: 100px;	
}

#skills_container {
	margin-top : 20px;
 	height: 500px;	
	
}
#civic_information_1 {
}

#job {
	
}

#civ_information_2 {
	 
}

#skill_title {
	background-color: #cccccc;
	border-radius: 5px;
	height: 25px;
	padding-left: 5px;
	padding-top: 10px;
}

#skill_list {
		height: 100px;
}

